
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>menu</title>
</head>
<body>
	<div th:fragment="menu">

		<div id="leftBar">
			<ul>
				<li><a th:href="@{/admin/home}">Trang chủ</a></li>
				<li><a th:href="@{/admin/newCat}">Loại bài viết</a></li>
				<li><a th:href="@{/admin/news}">Bài viết</a></li>
				<li><a th:href="@{/admin/tag/search}">Thẻ tag</a></li>
				<li><a th:href="@{/admin/catresource}">Loại N. Liệu</a></li>
				<li><a th:href="@{/admin/resource}">Nguyên liệu</a></li>
				<li><a th:href="@{/admin/user}">Người dùng</a></li>
				<li><a th:href="@{/admin/contact}">Liên hệ</a></li>
				<li><a th:href="@{#}">Thống kê</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
