
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Tin tức</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/assets/img/favicon.ico}" />

<!-- CSS here -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}" />
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}" />
<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}" />
<link rel="stylesheet" th:href="@{/assets/css/slick.css}" />
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/login.css}" />
</head>
<body>
	<div th:replace="/user/header.html :: head"></div>

	<main>

		<!--================Blog Area =================-->
		<section class="blog_area section-padding">
			<div class="container">
				<div class="blog_item">
					<div class="breadcrumbs" itemscope="" itemtype="">
						<a class="a-forgot" href="#"> category </a>
					</div>
					<h1 class="detail-headline">Thủ tướng: 'Địa phương nào cần
						tiền để phát triển, Chính phủ mang tiền đến'</h1>
					<div>
						<a class="a-forgot blog-info-link"><i class="fa fa-user"></i>
							Tác giả: DATLV</a> <a class="a-forgot blog-info-link"><i
							class="fa fa-calendar"></i> Ngày đăng: 20/10/2020</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 mb-5 mb-lg-0">
						<div class="blog_left_sidebar">
							<!-- details news here -->



							<!-- end details -->
						</div>
					</div>
					<div class="col-lg-4">
						<div class="blog_right_sidebar">
							<aside class="single_sidebar_widget search_widget">
								<form action="#">
									<div class="form-group">
										<div class="input-group mb-3">
											<input type="text" class="form-control" placeholder='Từ khoá'
												onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Từ khoá'">
											<div class="input-group-append">
												<button class="btns" type="button">
													<i class="ti-search"></i>
												</button>
											</div>
										</div>
									</div>
									<button
										class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
										type="submit">Tìm kiếm</button>
								</form>
							</aside>
							<aside class="single_sidebar_widget post_category_widget">
								<h4 class="widget_title" style="color: #2d2d2d;">Loại tin
									tức</h4>
								<ul class="list cat-list">
									<li><a href="#" class="d-flex">
											<p>Dinh dưỡng</p>
											<p>(37)</p>
									</a></li>
									<li><a href="#" class="d-flex">
											<p>Thể dục</p>
											<p>(10)</p>
									</a></li>
									<li><a href="#" class="d-flex">
											<p>Món ăn</p>
											<p>(03)</p>
									</a></li>
									<li><a href="#" class="d-flex">
											<p>Product</p>
											<p>(11)</p>
									</a></li>

								</ul>
							</aside>
							<aside class="single_sidebar_widget popular_post_widget">
								<h3 class="widget_title" style="color: #2d2d2d;">Bài mới
									nhất</h3>
								<div class="media post_item">
									<img src="assets/img/post/post_1.png" alt="post">
									<div class="media-body">
										<a href="blog_details.html">
											<h3 style="color: #2d2d2d;">From life was you fish...</h3>
										</a>
										<p>January 12, 2019</p>
									</div>
								</div>
								<div class="media post_item">
									<img src="assets/img/post/post_2.png" alt="post">
									<div class="media-body">
										<a href="blog_details.html">
											<h3 style="color: #2d2d2d;">The Amazing Hubble</h3>
										</a>
										<p>02 Hours ago</p>
									</div>
								</div>
								<div class="media post_item">
									<img src="assets/img/post/post_3.png" alt="post">
									<div class="media-body">
										<a href="blog_details.html">
											<h3 style="color: #2d2d2d;">Astronomy Or Astrology</h3>
										</a>
										<p>03 Hours ago</p>
									</div>
								</div>
								<div class="media post_item">
									<img src="assets/img/post/post_4.png" alt="post">
									<div class="media-body">
										<a href="blog_details.html">
											<h3 style="color: #2d2d2d;">Asteroids telescope</h3>
										</a>
										<p>01 Hours ago</p>
									</div>
								</div>
							</aside>
							<aside class="single_sidebar_widget tag_cloud_widget">
								<h4 class="widget_title" style="color: #2d2d2d;">Thẻ tag</h4>
								<ul class="list">
									<li><a href="#">project</a></li>
									<li><a href="#">love</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">travel</a></li>
									<li><a href="#">restaurant</a></li>
									<li><a href="#">life style</a></li>
									<li><a href="#">design</a></li>
									<li><a href="#">illustration</a></li>
								</ul>
							</aside>


						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================Blog Area =================-->
	</main>

	<div th:replace="/user/footer :: foot"></div>

	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/animated.headline.js}"></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Nice-select, sticky -->
	<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/assets/js/jquery.sticky.js}"></script>

	<!-- contact js -->
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/js/jquery.form.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/mail-script.js}"></script>
	<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
