
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Restaurant |
	<title>Education | Template</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image/x-icon"
		th:href="@{/assets/img/favicon.ico}" /> <!-- CSS here -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/slick.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/style.css}" />
</head>
<body>
	<footer th:fragment="foot">
		<!--? Footer Start-->
		<div class="footer-area footer-bg">
			<div class="container">
				<div class="footer-top footer-padding">
					<!-- Footer Menu -->
					<div class="row d-flex justify-content-between">
						<div class="col-10">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>Liên hệ</h4>
									<ul>
										<li><a href="#">Healthy lifestyle team</a></li>
										<li><a href="#">Trường đại học FPT</a></li>
										<li><a href="#">Khu công nghệ cao Hoà Lạc</a></li>
										<li><a href="#">Số điện thoại: 0326554545</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="row d-flex align-items-center">
						<div class="col-lg-12">
							<div class="footer-copy-right text-center">
								<p>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;
									<script>
										document
												.write(new Date().getFullYear());
									</script>
									HLS team <i class="fa fa-heart" aria-hidden="true"></i></a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>
	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/animated.headline.js"}></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Nice-select, sticky -->
	<script th:src="@{/assets/js/jquery.nice-select.min.jsv"></script>
	<script th:src="@{/assets/js/jquery.sticky.js}"></script>

	<!-- contact js -->
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/js/jquery.form.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/mail-script.js}"></script>
	<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
