
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>header</title>
    </head>
    <body>
    <header th:fragment="head">          
        <div id="header">
            <div class="inHeader">
                <div class="mosAdmin">                   
                    <a th:href="@{#}"><span th:utext="${#request.userPrincipal.name}"></span></a> | <a th:href="@{#}">Help</a> | <a th:href="@{/logoutSuccessful}">Đăng Xuất</a>
                </div>
                <div class="clear"></div>
            </div>
        </div> 
	</header>
    </body>
</html>
