<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
         <title> Quên mật khẩu </title> 
         <meta name="description" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}"/>

            <!-- CSS here -->
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.carousel.min.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/slicknav.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/animate.min.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/magnific-popup.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome-all.min.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/themify-icons.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/slick.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/nice-select.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}"/>
</head>
<body>

<div th:replace="/user/header :: head"></div>

    <br>
              <form action="" class="form-signin" method="POST">
                <div class="container">
                   <!--  <h2 class="account-in text-center">
                       Đăng nhập
                   </h2> -->
                    <div class="accordion">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-12">
                                <div class="jumbotron">
                                    <div class="text-center">
                                        <h3>
                                            <i class="fa fa-lock fa-4x">
                                            </i>
                                        </h3>
                                        <h2 class="text-center">
                                            Bạn đã quên mật khẩu?
                                        </h2>
                                        <p>
                                            Hãy nhập email để lấy lại mật khẩu?
                                        </p>
                                        <div class="panel-body">
                                            <form autocomplete="off" class="form" id="register-form" method="post" role="form">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-envelope color-blue">
                                                            </i>
                                                        </span>
                                                        <input class="form-control" id="email" name="email" placeholder="Email" type="email">
                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input class="btn btn-lg btn-primary btn-block" name="recover-submit" type="submit" value="Lấy lại mật khẩu">
                                                    </input>
                                                </div>
                                                <input class="hide" id="token" name="token" type="hidden" value="">
                                                </input>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
   
                <div th:replace="/user/footer :: foot"></div>

                <script type="text/javascript" th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
                <!-- Jquery, Popper, Bootstrap -->
                <script type="text/javascript" th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
                <!-- Jquery Mobile Menu -->
                <script type="text/javascript" th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

                <!-- Jquery Slick , Owl-Carousel Plugins -->
                <script type="text/javascript" th:src="@{/assets/js/owl.carousel.min.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/slick.min.js}"></script>

                <!-- One Page, Animated-HeadLin -->
                <script type="text/javascript" th:src="@{/assets/js/wow.min.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/animated.headline.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

                <!-- Nice-select, sticky -->
                <script type="text/javascript" th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/jquery.sticky.js}"></script>

                <!-- contact js -->
                <script type="text/javascript" th:src="@{/assets/js/contact.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/jquery.form.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/jquery.validate.min.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/mail-script.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

                <!-- Jquery Plugins, main Jquery -->	
                <script type="text/javascript" th:src="@{/assets/js/plugins.js}"></script>
                <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
</body>
</html>